<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary"
                 fxLayout="row"
                 fxLayoutAlign="space-between center"
    >
      <a routerLink="/">Cocktails</a>
      <nav *appIsAuth="false; else userNav">
        <button type="button"
                mat-button
                (click)="login()"
        >Login with Google</button>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userNav>
  <div class="hello-user"
       fxLayout="row"
       fxLayoutGap="16px"
       fxLayoutAlign="center center"
  >
    <img [src]="apiUrl + '/uploads/' + (user | async)?.avatar"
         [alt]="(user | async)?.displayName"
         mat-card-avatar
    />
    <span>Hello, <strong>{{ (user | async)?.displayName }}</strong>!</span>
  </div>
  <nav>
    <a routerLink="/cocktails/my" mat-button>My cocktails</a>
    <a routerLink="/cocktails/create" mat-button>Create cocktail</a>
    <button type="button"
            mat-button
            (click)="logout()"
    >Logout</button>
  </nav>
</ng-template>
